.page{
  background: linear-gradient(
    to bottom right,
     white, #fefae0
  );
    padding-top: 10pt;
}
.img {
    position: relative;
    display: block;
    margin: auto;
}
  .continent-area{
    margin-bottom: 50pt;
    margin-top: 10pt;
    display: grid;
  }

  .carousel {
    height: 10%;
    margin-top: 3rem;;
    
  }
  .carousel .carouselitem {
    width: 5px;
    height: 5px;
  }

  .card-title { 
    text-align: center;
    margin-top: 25px;
    padding: 1rem;
    font-size: 20px !important;
    text-transform: uppercase;
    color: #283618; 
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    opacity: 80%;
}
