/* div { 
    background-color: #fefae0;

} */

/* .page{
    background-color: #dda15e;
    padding-top: 100pt;
    min-height: 90vh;
    position: absolute;
    font-family: 'Montserrat', sans-serif;  
} */

/* 
h1 {
    text-align: center;
    padding: 1rem;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    color: #283618;
    font-weight: 700;
    font-family: 'DM Serif Display', serif;
} */


.h1-tag-general {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #111d13;
    font-weight: 700;
    font-family: 'DM Serif Display', serif;
}

.h2-tag-general { 
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px ;
    color: #dda15e;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.card-title { 
    text-align: center;
    margin-top: 25px;
    padding: 1rem;
    font-size: 20px !important;
    text-transform: uppercase;
    color: #283618; 
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    opacity: 80%;
}

h4 { 
    text-align: center;
    font-size: 40px !important;
    color: #283618;
    font-weight: 700px;
    font-family: 'Montserrat', sans-serif;
}

.general-p { 
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #f5f4f3;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.general-profile-section { 
    margin: 2rem;
    background-color: #536c38;
    box-shadow: 15px 15px 15px rgba(221, 161, 94, .5);
    background: linear-gradient(
      #f5f4f3, #dda15e  
    );
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid #f5f4f3;
}

.recipe-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    align-items: center;
    text-align: center;
     border-radius: 10px;
    backdrop-filter: blur(10px);
}

.defaultCard { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
    align-items: center;
    text-align: center;
}


.btn.btn-primary {
    background-color: #536c38;
    border: white;
    color: fefae0;
    margin: 5px;
    margin-bottom: 1rem;
}
  
.btn.btn-primary:hover { 
    background-color: #283618;

}

.btn.btn-recipe {
    background-color:white;
    border: white;
    color: #111d13;
    margin: 5px;
    margin-top: 1rem;
    opacity: 80%;
    font-size: 14px;
}


.buttons {
    text-align: center;
}

.display-container { 
    padding: 2rem;
    margin: 1rem;
    background-color: #dda15e;
    box-shadow: 15px 15px 15px rgba(221, 161, 94, .5);
    background: linear-gradient(
      #111d13, #283618  
    );
    border-radius: 10px;
    backdrop-filter: blur(10px);
    align-items: flex-start;
}

.no-recipe-display-container { 
    width: 450px;
    padding: 2rem;
    background-color: #dda15e;
    box-shadow: 15px 15px 15px rgba(221, 161, 94, .5);
    background: linear-gradient(
      #111d13, #283618  
    );
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

