
.RPRecipePage{
    background: linear-gradient(
    to bottom right,
     white, #fefae0
);
}
.RPRecipeImg {
    box-shadow: 15px 15px 15px rgba(221, 161, 94, .5);
}
.RPTitle{
    font-family: 'Noto Serif Display', serif;
}
.RPTitleTwo{
    font-family: 'Noto Serif Display', serif;
    padding-top: 2rem;
}
.RPContinent {
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
    text-align: center;
}
.RPHeadings{
    font-family: 'Noto Serif Display', serif;
    text-decoration:underline;
}
.RPText{
    font-family: 'Montserrat', sans-serif;
}
.RPUserLink{
    font-size: x-small;
    font-family: 'Montserrat', sans-serif;
}
.RPDetailsText{
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}
.RPPrint{
    justify-content: center;
}
.RPPrint-link{
    font-size: small;
}
.RPErrorTitle{
    font-family: 'Montserrat', sans-serif;
}
.RPErrorBody{
    font-family: 'Montserrat', sans-serif;
}