/* .details{
    display: flex;
    align-self: center;
    width: 25rem;
    align-content: center;
}
.cardDetails{
    text-align: center;
}
.cardText{
    text-align: left;
} */
.image-container {
    box-shadow: 15px 15px 15px rgba(40, 54, 24, .6);
}