.page{
  background: linear-gradient(
    to bottom right,
    #ffffff, #fefae0
);
    /* padding-top: 100pt; */
    min-height: 90vh;
    /* position: absolute; */
    font-family: 'Montserrat', sans-serif;
}

.SignForm {
    margin-top: 55px;
    background-color: #dda15e;
    box-shadow: 15px 15px 15px rgba(221, 161, 94, .7);
    /* background: linear-gradient(
      #dda15e, #bc6c25  
    ); */
    width: 400px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid #f5f4f3;
}
.btn.btn-info {
    background-color: #bc6c25;
  }

.formtitle {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 30px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    font-family: 'DM Serif Display', serif;
}

/* COLOR PALETTE
#111d13 | (17, 29, 19)
#bc6c25 | (188, 108, 37)
#dda15e | (221, 161, 94)
#fefae0 | (254, 250, 224)
#283618 | (40, 54, 24)
#536c38 | (83, 108, 56) */

/* .title{
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #111d13 0%,
     #bc6c25 29%,
     #dda15e 67%,
     #536c38 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 50px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 } */